// $(".storage").empty()
// $(".storage").append("<%= params[:phrase] %>")
$(".vomit").empty()
$(".vomit").append("<%= @transform %>")
// $(".vomit").append("<button type= 'button' class='redo'>reroll</button>")
$(".word").val(
	$(".vomit").text()
	)

